@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
}

.done {
  text-decoration-line: line-through;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: rgb(234, 72, 23);
}

.main_title {
  font-family: 'Rampart One', cursive;
  font-size: 5rem;
  text-align: center;
  color: #000;
  margin-top: 0;
  margin-bottom: 2rem;
}

.primary_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action_elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.userinput {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  background: #e7e7e7;
  cursor: pointer;
  border: 3px solid;
  padding: 0.3em 0;
  width: 350px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  touch-action: manipulation;
  outline: none;
}

.clear-Btn {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  cursor: pointer;
  border: 3px solid;
  padding: 0.3em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.clear-Btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.flex {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.li_list {
  font-family: 'Karla', sans-serif;
  font-size: 1.9rem;
  font-weight: 800;
}

.done-Btn {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-color);
  cursor: pointer;
  border: 3px solid;
  padding: 0.3em 0.5em;
  margin-top: 0.6em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.done-Btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
